In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [26]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [27]:

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [28]:

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [29]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [30]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [31]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [32]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [33]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [34]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [35]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [36]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [37]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/Users/roronoazoro/Desktop/demo-alml/ChurnModelling-ANN/venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [38]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [39]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [40]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [41]:
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    batch_size=64,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 100429.6484 - mae: 100429.6484 - val_loss: 98721.1406 - val_mae: 98721.1406
Epoch 2/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 100414.5859 - mae: 100414.5859 - val_loss: 98692.5938 - val_mae: 98692.5938
Epoch 3/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 100365.5859 - mae: 100365.5859 - val_loss: 98626.5625 - val_mae: 98626.5625
Epoch 4/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 100271.4453 - mae: 100271.4453 - val_loss: 98517.2344 - val_mae: 98517.2344
Epoch 5/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 100129.3516 - mae: 100129.3516 - val_loss: 98364.0391 - val_mae: 98364.0391
Epoch 6/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 99922.7812 - mae: 99922.7812 - val_loss: 98157.5859 - val_mae: 98157.5859
Epoch 7/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 99639.5938 - mae: 99639.5938 - val_loss: 97888.4766 - val_mae: 97888.4766
Epoch 8/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 99270.5312 - mae: 99270.5312 - val_loss: 97522.5859 - val_mae: 97522.5859
Epoch 9/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 98751.4766 - mae: 98751.4766 - val_loss: 97046.5859 - val_mae: 97046.5859
Epoch 10/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 98129.7422 - mae: 98129.7422 - val_loss: 96510.2734 - val_mae: 96510.2734
Epoch 11/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 97468.1328 - mae: 97468.1328 - val_loss: 96001.7500 - val_mae: 96001.7500
Epoch 12/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 96785.5156 - mae: 96785.5156 - val_loss: 95518.2109 - val_mae: 95518.2109
Epoch 13/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 96113.0547 - mae: 96113.0547 - val_loss: 95084.6875 - val_mae: 95084.6875
Epoch 14/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 95541.8438 - mae: 95541.8438 - val_loss: 94704.8438 - val_mae: 94704.8438
Epoch 15/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 95063.1172 - mae: 95063.1172 - val_loss: 94381.1172 - val_mae: 94381.1172
Epoch 16/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 94650.1328 - mae: 94650.1328 - val_loss: 94107.6797 - val_mae: 94107.6797
Epoch 17/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 94310.2266 - mae: 94310.2266 - val_loss: 93879.0312 - val_mae: 93879.0312
Epoch 18/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 94012.7812 - mae: 94012.7812 - val_loss: 93676.0781 - val_mae: 93676.0781
Epoch 19/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93741.4141 - mae: 93741.4141 - val_loss: 93500.7266 - val_mae: 93500.7266
Epoch 20/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93550.3359 - mae: 93550.3359 - val_loss: 93341.4922 - val_mae: 93341.4922
Epoch 21/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93347.0312 - mae: 93347.0312 - val_loss: 93204.5547 - val_mae: 93204.5547
Epoch 22/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93201.8516 - mae: 93201.8516 - val_loss: 93068.2422 - val_mae: 93068.2422
Epoch 23/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 93052.8125 - mae: 93052.8125 - val_loss: 92948.7578 - val_mae: 92948.7578
Epoch 24/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92924.7578 - mae: 92924.7578 - val_loss: 92861.0469 - val_mae: 92861.0469
Epoch 25/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92875.9453 - mae: 92875.9453 - val_loss: 92822.5078 - val_mae: 92822.5078
Epoch 26/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92813.7031 - mae: 92813.7031 - val_loss: 92754.6562 - val_mae: 92754.6562
Epoch 27/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92780.2578 - mae: 92780.2578 - val_loss: 92743.5781 - val_mae: 92743.5781
Epoch 28/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92795.0625 - mae: 92795.0625 - val_loss: 92746.8047 - val_mae: 92746.8047
Epoch 29/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92817.1953 - mae: 92817.1953 - val_loss: 92772.8750 - val_mae: 92772.8750
Epoch 30/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 92873.0391 - mae: 92873.0391 - val_loss: 92813.3594 - val_mae: 92813.3594
Epoch 31/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 92973.8906 - mae: 92973.8906 - val_loss: 92908.5312 - val_mae: 92908.5312
Epoch 32/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 93052.8594 - mae: 93052.8594 - val_loss: 92987.5625 - val_mae: 92987.5625
Epoch 33/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step - loss: 93181.7969 - mae: 93181.7969 - val_loss: 93043.8672 - val_mae: 93043.8672
Epoch 34/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 93253.5938 - mae: 93253.5938 - val_loss: 93112.7578 - val_mae: 93112.7578
Epoch 35/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 93350.7344 - mae: 93350.7344 - val_loss: 93133.6875 - val_mae: 93133.6875
Epoch 36/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93403.6641 - mae: 93403.6641 - val_loss: 93153.7109 - val_mae: 93153.7109
Epoch 37/100
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 93473.7188 - mae: 93473.7188 - val_loss: 93160.8828 - val_mae: 93160.8828

In [42]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [43]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 53533), started 0:00:53 ago. (Use '!kill 53533' to kill it.)

In [44]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 92743.5781 - mae: 92743.5781
Test MAE : 92743.578125

In [45]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.